<!DOCTYPE html>
<html lang="en">
<head>

     <title>琅科信息技术有限公司-客户信息</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="../static/css/bootstrap.min.css">
     <link rel="stylesheet" href="../static/css/magnific-popup.css">
     <link rel="stylesheet" href="../static/css/font-awesome.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../static/css/templatemo-style.css">
</head>
<body>
<!-- 头部信息 勿删 -->
     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index.html" class="navbar-brand">琅科信息技术有限公司</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="index-GM.html" >公司官网</a></li>
                         <li><a href="client.html">客户管理</a></li>
                         <li><a href="project.html">项目管理</a></li>
                         <li><a href="order.html">订单管理</a></li>
                         <li><a href="source.html">资源管理</a></li>
                         <li><a href="payment.html">支付结算</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">登录 /注册</a></li>
                    </ul>
               </div>

          </div>
     </section>
<!-- 勿删 end -->

     <!-- 客户管理表格 -->

<section id="home">

    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-12 col-sm-12">
          <h1>客户信息管理</h1>
            <table class="table client-table">
            	<thead class="client-table-th">
				<tr>
					<td>客户</td>
					<td>公司名称</td>
					<td>涉及项目</td>
					<td colspan="2">操作</td></tr>
				</thead>
				<tr class="">
					<td>1</td>
					<td>TB - Monthly</td>
					<td>01/04/2012</td>
					<td><a href="client-detail.html">查看更多</a></td>
					<td>删除</td></tr>
				<tr class="">
					<td>2</td>
					<td>TB - Monthly</td>
				  	<td>02/04/2012</td>
					<td><a href="">查看更多</a></td>
					<td>删除</td></tr>
				<tr class="">
					<td>3</td>
					<td>TB - Monthly</td>
					<td>03/04/2012</td>
					<td><a href="">查看更多</a></td>
					<td>删除</td></tr>
				<tr class="">
					<td>4</td>
					<td>TB - Monthly</td>
					<td>04/04/2012</td>
					<td><a href="">查看更多</a></td>
					<td>删除</td></tr>
		  	</table>
        </div>
    </div>
</section>




	<!-- 客户管理表格 end -->


     <!-- 尾部信息 勿删！！ -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="footer-thumb footer-info"> 
                              <h2>琅科信息技术有限公司</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12"> 
                         <div class="footer-thumb"> 
                              <h2>公司地址</h2>
                              <p>123 Grand Rama IX, <br> Krung Thep Maha Nakhon 10400</p>
                         </div>
                    </div>                    

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text"> 
                                        <p>Copyright &copy; 琅科信息技术有限公司</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact"> 
                                        <p>Call us <span>(+66) 010-020-0340</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>

     <!-- ！！！！登录 -->
     <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>琅科</h2>
                                        </div>

                                        <!-- NAV TABS -->
                                        <ul class="nav nav-tabs" role="tablist">
                                             <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">注册</a></li>
                                             <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">登录</a></li>
                                        </ul>

                                        <!-- TAB PANES -->
                                        <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                                  <form action="#" method="post">
                                                       <input type="text" class="form-control" name="name" placeholder="Name" required>
                                                       <input type="telephone" class="form-control" name="telephone" placeholder="Telephone" required>
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="确定">
                                                  </form>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                                  <form action="#" method="post">
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="确定">
                                                       <a href="https://www.facebook.com/templatemo">忘记密码?</a>
                                                  </form>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>
	<!-- 登录end -->

     <!-- SCRIPTS -->
     <script src="../static/js/jquery.js"></script>
     <script src="../static/js/bootstrap.min.js"></script>
     <script src="../static/js/jquery.stellar.min.js"></script>
     <script src="../static/js/jquery.magnific-popup.min.js"></script>
     <script src="../static/js/smoothscroll.js"></script>
     <script src="../static/js/custom.js"></script>
<!-- 尾部信息 勿删！！ end -->
</body>
</html>